
<br><br><br><br><br><br><br><br><br>

<div id="question" class="card " style="display:none">
  <div class="card-body">
    <h3 class="card-title"><%= @question.label %></h3>

    <% @question.answers.each do |q| %>
      <%= render "answer", answer: q %>
    <% end %>

  </div>




