
 <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
<br><br><br><br><br><br><br><br><br><br>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome</h1>
        <p class="lead">Thank you once again for your participation! Click the okay button to continue onto the game</p>
        <p class="lead">

          <%= link_to "Okay",game_path, class:"btn btn-lg btn-secondary" %>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p></p>
        </div>
      </footer>
    </div>




