<h1 class="cover-heading">Welcome</h1>
<p class="lead">Thank you once again for your participation! Click the okay button to continue onto the game</p>
<p class="lead">

  <%= link_to "Okay",game_path, class:"btn btn-lg btn-secondary" %>
</p>