<h1 class="cover-heading">Your score is 34.</h1>
<p class="lead">Thanks for takeing the test.</p>
<p class="lead">

  <%= link_to "Continue","https://docs.google.com/forms/d/e/1FAIpQLSfOpya_em8vT-POiG2aEqAVYhw7Og5ull0mstVcXyh4RIqRwA/viewform", class:"btn btn-lg btn-secondary" %>
</p>
